{% load static %}
{% include 'admin_header.html' %}

	<div id="home">
		<!-- background image -->
		<div class="section-bg" style="background-image:url({% static './img/background01.jpg' %})" data-stellar-background-ratio="0.1"></div>
		<!-- /background image -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- home content -->
					<div class="col-md-8 col-md-offset-2">
						<div class="home-content">
							<h1>Admin_Viewcustomer</h1>
						</div>
					</div>
					<!-- /home content -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /home wrapper -->
	</div>
	<!-- /Home -->

<br>
<table align="center" border="2" cellpadding="10" cellspacing="0" width="80%">
	<thead>
	<tr>
		<th>Id</th>
		<th>Email</th>
		<th>Fullname</th>
		<th>Mobile</th>
		<th>Address</th>
		<th>City</th>
	</tr>
    </thead>
	<tbody>
	{% for customer in customer  %}
	<tr>
		<td>{{customer.id}}</td>
		<td>{{customer.email}}</td>
		<td>{{customer.fullname}}</td>
		<td>{{customer.mobile}}</td>
		<td>{{customer.address}}</td>
		<td>{{customer.city}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table><br>
{% include 'footer.html' %}


</body>
</html>