{% load static %}
{% include 'header.html' %}
<!-- Contact -->
	<div id="contact" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="section-title">
					<h3 class="title"><span>Contact</span> <span style="color: #dd0a37;">Info</span></h3>
				</div>
				<!-- /section title -->

				<!-- contact -->
<!--				<div class="col-sm-4">-->
<!--					<div class="contact">-->
<!--						<h3>Address</h3>-->
<!--						<p>2635 Simons Hollow Road, NEW YORK</p>-->
<!--					</div>-->
<!--				</div>-->
				<!-- /contact -->

				<!-- contact -->
<!--				<div class="col-sm-4">-->
<!--					<div class="contact">-->
<!--						<h3>Phone</h3>-->
<!--						<p>570-751-2415</p>-->
<!--					</div>-->
<!--				</div>-->
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<h3>Email</h3>
						<a>event@support.com</a>
					</div>
				</div>
				<!-- /contact -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->

		<!-- Map -->
		<!-- /Map -->
	</div>
	<!-- /Contact -->
<br>


{% include 'footer.html' %}
