{% load static %}
{% include 'customer_header.html' %}

	<div id="home">
		<!-- background image -->
		<div class="section-bg" style="background-image:url({% static './img/background01.jpg' %})" data-stellar-background-ratio="0.1"></div>
		<!-- /background image -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- home content -->
					<div class="col-md-8 col-md-offset-2">
						<div class="home-content">
							<h1>Customer_Change</h1>
						</div>
					</div>
					<!-- /home content -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /home wrapper -->
	</div>
	<!-- /Home -->
<br>
<form action="" method="post">
    {% csrf_token %}
		<div class="container h-100">

       <div class="form-group row">
                      <div class="mb-3">
                       <div class="mb-2 w-100">
                           <label class="text-muted" for="password">Enter old password</label>
                       </div>
                          <input id="password" type="password" name="password" required/>
                      </div>
                   <div class="mb-3">
                       <div class="mb-2 w-100">
                           <label class="text-muted" for="newpassword">Enter new password</label>
                       </div>
                       <input id="newpassword" type="password"  name="newpassword" required/>
                   </div><br>
                <button type="submit" class="btn btn-primary">Change Password</button>
       </div>
        </div>
</form>
{{msg}}
{% include 'footer.html' %}
