{% load static %}
{% include 'header.html' %}

<div id="home">
		<!-- background image -->
		<div class="section-bg" style="background-image:url({% static './img/background01.jpg' %})" data-stellar-background-ratio="0.1"></div>
		<!-- /background image -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- home content -->
					<div class="col-md-8 col-md-offset-2">
						<div class="home-content">
							<h1>Eventmanager_Reg</h1>
						</div>
					</div>
					<!-- /home content -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /home wrapper -->
	</div>
	<!-- /Home -->

<br>
<form method ="POST" class="post-form" action="/eventmanager_reg/">
	{% csrf_token %}
		<div class="container h-100">
			<h3 class="fs-4 card-title fw-bold mb-4">Register Here</h3>
			<div class="mb-3">
				<div class="mb-2 w-100">
					<label class="mb-2 text-muted" for="email">Email</label>
				</div>
				<input id="email" type="email"  name="email" required>
			</div>
			<div class="mb-3">
				<div class="mb-2 w-100">
					<label class="text-muted" for="password">Password</label>
				</div>
				<input id="password" type="password"  name="password" required>
			</div>
			 <div class="mb-3">
				<div class="mb-2 w-100">
					<label class="text-muted" for="title">Title</label>
				</div>
				<input id="title" type="text"  name="title" required>
			</div>
            <div class="mb-3">
				<div class="mb-2 w-100">
					<label class="text" for="mobile">Mobile</label>
				</div>
				<input id="mobile" type="number"  name="mobile" required>
			</div>
			<div class="mb-3">
				<div class="mb-2 w-100">
					<label class="text" for="address">Address</label>
				</div>
				<input id="address" type="text"  name="address" required>
			</div>
			<div class="mb-3">
				<div class="mb-2 w-100">
					<label class="text" for="city">City</label>
				</div>
				<select name="city">
					<option value="Hyd">Hyd</option>
					<option value="Pune">Pune</option>
					<option value="Mumbai">Mumbai</option>
				</select>
			</div>
			<br>
			<button type="submit" class="btn btn-primary ms-auto">Register</button><br>
		</div>
</form>
{% include 'footer.html' %}
