{% load static %}
{% include 'header.html' %}
	<!-- Home -->
	<div id="home">
		<!-- background image -->
		<div class="section-bg" style="background-image:url({% static './img/background01.jpg' %})" data-stellar-background-ratio="0.5"></div>
		<!-- /background image -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- home content -->
					<div class="col-md-8 col-md-offset-2">
						<div class="home-content">
							<h1>Event Management System</h1>
							<h4 class="lead"> An Event Management System provides campus event planners a flexible, fully integrated solution to simplify the event management process and keep your customers, faculty and students happy, while maintaining important reports and data for making real estate and future planning decisions.</h4>
						</div>
					</div>
					<!-- /home content -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /home wrapper -->
	</div>
	<!-- /Home -->

	<!-- About -->
	<div id="about" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="section-title">
					<h3 class="title"><span>About</span> <span style="color: #dd0a37;">Event</span></h3>
				</div>
				<!-- /section title -->

				<div class="col-md-8 col-md-offset-2 text-center">
					<!-- about content -->
					<div class="about-content">
						<p>An Event Management System provides campus event planners a flexible, fully integrated solution to simplify the event management process and keep your customers, faculty and students happy, while maintaining important reports and data for making real estate and future planning decisions.</p>
					</div>
					<!-- /about content -->

					<!-- Numbers -->
					<div id="numbers">
						<!-- row -->
						<div class="row">
							<!-- number -->
							<div class="col-md-3 col-sm-3 col-xs-6">
								<div class="number">
									<h3><span class="counter" data-from="0" data-to="900" data-speed="1500">0</span>+</h3>
									<p>Hours</p>
								</div>
							</div>
							<!-- /number -->

							<!-- number -->
							<div class="col-md-3 col-sm-3 col-xs-6">
								<div class="number">
									<h3><span class="counter" data-from="0" data-to="750" data-speed="1500">0</span>+</h3>
									<p>Venues</p>
								</div>
							</div>
							<!-- /number -->

							<!-- number -->
							<div class="col-md-3 col-sm-3 col-xs-6">
								<div class="number">
									<h3><span class="counter" data-from="0" data-to="50" data-speed="1500">0</span>+</h3>
									<p>Country</p>
								</div>
							</div>
							<!-- /number -->

							<!-- number -->
							<div class="col-md-3 col-sm-3 col-xs-6">
								<div class="number">
									<h3><span class="counter" data-from="0" data-to="20" data-speed="1500">0</span>+</h3>
									<p>Speakers</p>
								</div>
							</div>
							<!-- /number -->
						</div>
						<!-- /row -->
					</div>
					<!-- /Numbers -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /About -->

	<!-- Galery -->

	<!-- /Galery -->

	<!-- Video CTA -->

	<!-- /Event Schedule -->

	<!-- Speakers -->

	<!-- /Speakers -->

	<!-- Sponsors -->

	<!-- /Sponsors -->

	<!-- CTA -->

	<!-- /Contact -->

{% include 'footer.html' %}
